<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
<p style="color: red">
    {{ new_title }} {{ dish }}
</p>
{{ new_persons }} {{ persons }}

{% if recipe %}
    {% for ingredient, amount in recipe.items %}
        <p>{{ ingredient }}: {{ amount }}</p>
    {% endfor %}
{% elif unknown_recipe %}
    <p style="color: red">Такого рецепта не знаю: {{ unknown_recipe }}</p>
{% else %}
    <p>Сервис-помощник для приготовления блюд</p>
    <p>Для перехода к рецептам введите в адресной строке браузера http://127.0.0.1:8000/omlet/,
        где "omlet" название блюда<p>
    <p>Доступные блюда: omlet, pasta, buter, tost</p>
    <p>Для расчета рецепта на n персон введите в адресной строке браузера 
        http://127.0.0.1:8000/omlet/?servings=n</p>
{% endif %}
</body>
</html>